VALHALLA_TILE_URLS=https://download.geofabrik.de/north-america/us/wisconsin-latest.osm.pbf
VALHALLA_SERVER_THREADS=4
VALHALLA_BUILD_TILES=True
VALHALLA_BUILD_ELEVATION=True
VALHALLA_BUILD_ADMINS=True
VALHALLA_BUILD_TIME_ZONES=True
VALHALLA_FORCE_REBUILD=False
